@media (max-width: 768px) {
  body {
    padding: 0px !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .main {
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    height: 1000px;
  }
  .mobile .mobile-products {
    width: 100%;
    text-align: center;
  }
  .mobile .mobile-products .title {
    margin-top: 10px;
  }
  .mobile .mobile-products .carousel-img {
    width: 130px;
  }
  .about .section .title {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    margin: 0;
  }
  .about .section .title .br {
    display: none;
  }
  .main {
    margin: 0 20px;
  }
  .main .emoje {
    width: 35px;
  }
  .main .el-menu {
    padding: 0px 10px 10px 10px;
  }
  .main-card {
    height: 100%;
  }
  .mobile-menu-btn {
    margin: 5px 0;
  }
  .mobile-menu-btn.active {
    background-color: #409eff;
    color: white;
  }
  .rebate-card {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rebate-card .card-info {
    position: inherit !important;
    text-align: center;
  }
  .articles {
    margin-top: 100px;
  }
}/*# sourceMappingURL=media.css.map */