@font-face {
  font-family: 'LeagueSpartan-Black';
  src        : local('LeagueSpartan'), local('LeagueSpartan'),
      url('./LeagueSpartan-Black.ttf') format('truetype');
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src        : local('LeagueSpartan'), local('LeagueSpartan'),
      url('./LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: 'LeagueSpartan-SemiBold';
  src        : local('LeagueSpartan'), local('LeagueSpartan'),
      url('./LeagueSpartan-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: 'LeagueSpartan-Light';
  src        : local('LeagueSpartan'), local('LeagueSpartan'),
      url('LeagueSpartan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'LeagueSpartan-Regular';
  src        : local('LeagueSpartan'), local('LeagueSpartan'),
      url('LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'LeagueSpartan-Medium';
  src        : local('LeagueSpartan'), local('LeagueSpartan'),
      url('LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;
}