@import url(../fonts/fonts.css);
body {
  font-family: "LeagueSpartan-Medium";
  font-size: 16px;
  padding: 20px 40px 20px 20px;
  margin: 0;
  list-style: none;
  background-color: #DEEBFB;
  text-decoration: none !important;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.about {
  list-style: none;
  padding: 30px 40px;
  .section {
    .title {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 65px;
      color: #000000;
      margin: 0;
      .br {
        display: block;
      }
    }
  }
  .emoje {
    position: absolute;
  }
  .search-input {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 15px;
    text-decoration: none;
    color: #000000;
    .el-icon-search {
      font-size: 18px;
    }
  }
  .card-list {
    text-align: end;

    .share-button {
      background-color: #666666;
      width: 50px;
      height: 50px;
      border-radius: 15px;
    }
    .el-badge {
      .el-badge__content.is-fixed.is-dot {
        right: 11px !important;
        top: 5px !important;
      }
      .el-badge__content.is-dot {
        width: 12px !important;
        height: 12px !important;
      }
      .el-badge__content {
        background-color: #FF5454;
      }
    }
  }
  .menu-list {
    margin-right: 15px;
  }
  .menu-btn.active {
    width: 105px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    img {
      width: 65px;
    }
  }
  .menu-btn {
    width: 105px;
    height: 160px;
    background: #F3F3F3;
    border-radius: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #585858;
    img {
      width: 65px;
    }
  }
  .menu-btn:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.1);
  }
  .rebate-card {
    width: 259px;
    height: 158px;
    background: #AB97F3;
    border-radius: 30px;
    margin-left: 20px;
    .card-info {
      position: relative;
      top: 70px;
      left: 22px;
      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 0;
      }
      .text {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        color: #FFFFFF;
        
      }
    }
    .rebate-image-list {
      position: absolute;
      .cartoon-burger{
        position: relative;
        transform: translate(87px, -122px);
        width: 250px;
      }
      .bitten-apple {
        position: relative;
        transform: translate(14px, -283px);
      }
      .cheese {
        position: relative;
        bottom: 215px;
        left: 160px;
      }
      .fire1 {
        position: relative;
        bottom: 328px;
        left: 13px;
      }
      .orange-3d {
        position: relative;
        bottom: 260px;
        left: -30px;
      }
    }
  }
  .all-items-text {
    display: flex;
    align-items: center;
    .title {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      color: #000000;
      margin-right: 30px;
    }
  }
  .article-items-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    .title {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      color: #000000;
    }
    .articles-btn {
      width: 50px;
      height: 50px;
      background: #F5F6F7;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .products-card {
    width: 206px;
    height: 171px;
    border: 1px solid #F2EEEE;
    border-radius: 30px;
    margin-right: 29px;
  }
  .product-check-card {
    width: 206px;
    height: 153px;
    background: #F2EEEE;
    border-radius: 30px;
  }
  .products {
    position: absolute;
    img {
      position: absolute;
    }
    .burger-img {
      position: absolute;
      transform: translate(13%, -55%);
      width: 178px;
    }
    .butter-img {
      position: absolute;
      transform: translate(30%, -59%);
      width: 136px;
    }
    .plov-img {
      position: absolute;
      transform: translate(12%, -60%);
      width: 175px;
    }
    .fire-img {
      position: absolute;
      transform: translate(180px, -53px);
    }
    .good-img {
      position: absolute;
      transform: translate(172px, -53px);
    }
    .product-info {
      position: relative;
      top: 50px;
      left: 28px;
      .title {
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 13px;
        color: #000000;
        margin: 0;
      }
      .text {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #898686;
      }
      .plus-btn {
        position: absolute;
        transform: translate(135px, -42px);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #000000;
        font-weight: 800;
      }
      .check-btn {
        position: absolute;
        transform: translate(135px, -42px);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        border: 2px solid #000000;
        font-size: 17px;
        font-weight: 800;
      }
    }
  }
  .products-two {
    position: relative;
    top: 10px;
    .plov-img {
      top: 20px;
    }
  }
  .product-clip-path {
    clip-path: inset(-52% 0 52% 0);
  }
  .comments {
    .comments-list {
      display: flex;
      align-items: center;
      margin-bottom: 21px;
      .person-thought {
        margin-left: 13px;
        .title {
          padding: 0;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #000000;
          margin: 0;
        }
        .person-img {
          display: flex;
          .tom-img {
            position: relative;
            left: -8px;
          }
          .thought-count {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: -13px;
            width: 55px;
            height: 23px;
            background: #FFF8D5;
            border: 1px solid #FFFFFF;
            border-radius: 15px;
            img {
              width: 13px;
              height: 13px;
            }
            .count {
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              color: #000000; 
              margin-left: 5px;
            }
          }
        }
      }
      .chicken-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF0A5;
        border-radius: 15px;
      }
      .emoje-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background: #D6F5FF;
      }
      .chocolate-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background: #FFDDF0;
      }
      .pizza-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background: #C1FFF4;
      }
    }
  }
}

.main {
  background-color: #DEEBFB;
  border-radius: 20px;
  .person-image {
    width: 64px;
    height: 64px;
    background-color: white;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .el-menu {
    border-radius: 30px; 
    background-color: transparent;
    padding: 30px 30px 30px 10px;
    .el-menu-item {
      border-radius: 15px;
      margin: 25px 0;
      height: 44px;
      line-height: 45px !important;
      .menu-name {
        padding-left: 90px;
        font-size: 16px;
      }
      &.el-submenu__title {
        line-height: 44px;
      }
      &.el-menu-item.is-active {
        background-color: #FF5454;
        color: white !important;
        border-radius: 15px;
        .menu-name {
          color: white;
        }
        .menu-icon {
          background-color: #DF4545;
        }
      }
    }
    .el-menu-item:focus, .el-menu-item:hover {
      background-color: #FF5454;
      color: white !important;
      border-radius: 15px;
      & .menu-icon {
        background-color: #DF4545;
      }
      & .menu-name {
        color: white;
      }
    }
  }
  .delivery {
    width: 184px;
    height: 162px;
    border-radius: 25px;
    background-color: white;
    margin-top: 100px;
    margin-left: 15px;
    .image {
      position: absolute;
      transform: translate(-6px, -111px);
      z-index: 2;
    }
    .delivery-items {
      position: relative;
      top: 80px;
      left: 21px;
      .title {
        font-style: normal;
        font-weight: 800 !important;
        font-size: 18px;
        color: #000000;
        font-family: "LeagueSpartan-Bold" !important;
        margin-top: 12px;
      }
      .link {
        text-decoration: none !important;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 11px;
        color: #000000;
        .more-link {
          display: flex;
          .img {
            margin-left: 58px;
          }
        }
      }
    }
    .delevery-img-list {
      position: absolute;
      z-index: 1;
      .image1 {
        position: relative;
        top: -10px;
        left: 10px;
      }
      .image2 {
        position: relative;
        top: -88px;
        left: 24px;
      }
      .image3 {
        position: relative;
        top: -140px;
        left: -38px;
      }
      .image4 {
        position: relative;
        top: -50px;
        left: -15px;
      }
      .image5 {
        position: relative;
        top: -155px;
        left: -150px;
      }
      .image6 {
        position: relative;
        top: -100px;
        left: -156px;
        z-index: -1;
      }
    }
  }
}
.mobile-menu-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .mobile-menu-btn {
    border-radius: 50px;
    padding: 10px 23px;
    height: 45px;
    width: auto;
  }
  .mobile-menu-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 10px;
    }
  }
}

.navbar {
  width: 100%;
  background-color: white;
  .navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .menu-list {
    .about {
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }
}
.main-card {
  border-radius: 30px;
  height: 915px; 
  background-color: white;
}