@import url(../fonts/fonts.css);
body {
  font-family: "LeagueSpartan-Medium";
  font-size: 16px;
  padding: 20px 40px 20px 20px;
  margin: 0;
  list-style: none;
  background-color: #DEEBFB;
  text-decoration: none !important;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.about {
  list-style: none;
  padding: 30px 40px;
}
.about .section .title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
  margin: 0;
}
.about .section .title .br {
  display: block;
}
.about .emoje {
  position: absolute;
}
.about .search-input {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;
  border-radius: 15px;
  text-decoration: none;
  color: #000000;
}
.about .search-input .el-icon-search {
  font-size: 18px;
}
.about .card-list {
  text-align: end;
}
.about .card-list .share-button {
  background-color: #666666;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.about .card-list .el-badge .el-badge__content.is-fixed.is-dot {
  right: 11px !important;
  top: 5px !important;
}
.about .card-list .el-badge .el-badge__content.is-dot {
  width: 12px !important;
  height: 12px !important;
}
.about .card-list .el-badge .el-badge__content {
  background-color: #FF5454;
}
.about .menu-list {
  margin-right: 15px;
}
.about .menu-btn.active {
  width: 105px;
  height: 160px;
  background: #FFFFFF;
  box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.about .menu-btn.active img {
  width: 65px;
}
.about .menu-btn {
  width: 105px;
  height: 160px;
  background: #F3F3F3;
  border-radius: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #585858;
}
.about .menu-btn img {
  width: 65px;
}
.about .menu-btn:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.1);
}
.about .rebate-card {
  width: 259px;
  height: 158px;
  background: #AB97F3;
  border-radius: 30px;
  margin-left: 20px;
}
.about .rebate-card .card-info {
  position: relative;
  top: 70px;
  left: 22px;
}
.about .rebate-card .card-info .title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
  color: #FFFFFF;
  margin: 0;
}
.about .rebate-card .card-info .text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #FFFFFF;
}
.about .rebate-card .rebate-image-list {
  position: absolute;
}
.about .rebate-card .rebate-image-list .cartoon-burger {
  position: relative;
  transform: translate(87px, -122px);
  width: 250px;
}
.about .rebate-card .rebate-image-list .bitten-apple {
  position: relative;
  transform: translate(14px, -283px);
}
.about .rebate-card .rebate-image-list .cheese {
  position: relative;
  bottom: 215px;
  left: 160px;
}
.about .rebate-card .rebate-image-list .fire1 {
  position: relative;
  bottom: 328px;
  left: 13px;
}
.about .rebate-card .rebate-image-list .orange-3d {
  position: relative;
  bottom: 260px;
  left: -30px;
}
.about .all-items-text {
  display: flex;
  align-items: center;
}
.about .all-items-text .title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  margin-right: 30px;
}
.about .article-items-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.about .article-items-text .title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
}
.about .article-items-text .articles-btn {
  width: 50px;
  height: 50px;
  background: #F5F6F7;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .products-card {
  width: 206px;
  height: 171px;
  border: 1px solid #F2EEEE;
  border-radius: 30px;
  margin-right: 29px;
}
.about .product-check-card {
  width: 206px;
  height: 153px;
  background: #F2EEEE;
  border-radius: 30px;
}
.about .products {
  position: absolute;
}
.about .products img {
  position: absolute;
}
.about .products .burger-img {
  position: absolute;
  transform: translate(13%, -55%);
  width: 178px;
}
.about .products .butter-img {
  position: absolute;
  transform: translate(30%, -59%);
  width: 136px;
}
.about .products .plov-img {
  position: absolute;
  transform: translate(12%, -60%);
  width: 175px;
}
.about .products .fire-img {
  position: absolute;
  transform: translate(180px, -53px);
}
.about .products .good-img {
  position: absolute;
  transform: translate(172px, -53px);
}
.about .products .product-info {
  position: relative;
  top: 50px;
  left: 28px;
}
.about .products .product-info .title {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
  margin: 0;
}
.about .products .product-info .text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #898686;
}
.about .products .product-info .plus-btn {
  position: absolute;
  transform: translate(135px, -42px);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #000000;
  font-weight: 800;
}
.about .products .product-info .check-btn {
  position: absolute;
  transform: translate(135px, -42px);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: 2px solid #000000;
  font-size: 17px;
  font-weight: 800;
}
.about .products-two {
  position: relative;
  top: 10px;
}
.about .products-two .plov-img {
  top: 20px;
}
.about .product-clip-path {
  -webkit-clip-path: inset(-52% 0 52% 0);
          clip-path: inset(-52% 0 52% 0);
}
.about .comments .comments-list {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.about .comments .comments-list .person-thought {
  margin-left: 13px;
}
.about .comments .comments-list .person-thought .title {
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}
.about .comments .comments-list .person-thought .person-img {
  display: flex;
}
.about .comments .comments-list .person-thought .person-img .tom-img {
  position: relative;
  left: -8px;
}
.about .comments .comments-list .person-thought .person-img .thought-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -13px;
  width: 55px;
  height: 23px;
  background: #FFF8D5;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
}
.about .comments .comments-list .person-thought .person-img .thought-count img {
  width: 13px;
  height: 13px;
}
.about .comments .comments-list .person-thought .person-img .thought-count .count {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  margin-left: 5px;
}
.about .comments .comments-list .chicken-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF0A5;
  border-radius: 15px;
}
.about .comments .comments-list .emoje-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #D6F5FF;
}
.about .comments .comments-list .chocolate-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #FFDDF0;
}
.about .comments .comments-list .pizza-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #C1FFF4;
}

.main {
  background-color: #DEEBFB;
  border-radius: 20px;
}
.main .person-image {
  width: 64px;
  height: 64px;
  background-color: white;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main .el-menu {
  border-radius: 30px;
  background-color: transparent;
  padding: 30px 30px 30px 10px;
}
.main .el-menu .el-menu-item {
  border-radius: 15px;
  margin: 25px 0;
  height: 44px;
  line-height: 45px !important;
}
.main .el-menu .el-menu-item .menu-name {
  padding-left: 90px;
  font-size: 16px;
}
.main .el-menu .el-menu-item.el-submenu__title {
  line-height: 44px;
}
.main .el-menu .el-menu-item.el-menu-item.is-active {
  background-color: #FF5454;
  color: white !important;
  border-radius: 15px;
}
.main .el-menu .el-menu-item.el-menu-item.is-active .menu-name {
  color: white;
}
.main .el-menu .el-menu-item.el-menu-item.is-active .menu-icon {
  background-color: #DF4545;
}
.main .el-menu .el-menu-item:focus, .main .el-menu .el-menu-item:hover {
  background-color: #FF5454;
  color: white !important;
  border-radius: 15px;
}
.main .el-menu .el-menu-item:focus .menu-icon, .main .el-menu .el-menu-item:hover .menu-icon {
  background-color: #DF4545;
}
.main .el-menu .el-menu-item:focus .menu-name, .main .el-menu .el-menu-item:hover .menu-name {
  color: white;
}
.main .delivery {
  width: 184px;
  height: 162px;
  border-radius: 25px;
  background-color: white;
  margin-top: 100px;
  margin-left: 15px;
}
.main .delivery .image {
  position: absolute;
  transform: translate(-6px, -111px);
  z-index: 2;
}
.main .delivery .delivery-items {
  position: relative;
  top: 80px;
  left: 21px;
}
.main .delivery .delivery-items .title {
  font-style: normal;
  font-weight: 800 !important;
  font-size: 18px;
  color: #000000;
  font-family: "LeagueSpartan-Bold" !important;
  margin-top: 12px;
}
.main .delivery .delivery-items .link {
  text-decoration: none !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: #000000;
}
.main .delivery .delivery-items .link .more-link {
  display: flex;
}
.main .delivery .delivery-items .link .more-link .img {
  margin-left: 58px;
}
.main .delivery .delevery-img-list {
  position: absolute;
  z-index: 1;
}
.main .delivery .delevery-img-list .image1 {
  position: relative;
  top: -10px;
  left: 10px;
}
.main .delivery .delevery-img-list .image2 {
  position: relative;
  top: -88px;
  left: 24px;
}
.main .delivery .delevery-img-list .image3 {
  position: relative;
  top: -140px;
  left: -38px;
}
.main .delivery .delevery-img-list .image4 {
  position: relative;
  top: -50px;
  left: -15px;
}
.main .delivery .delevery-img-list .image5 {
  position: relative;
  top: -155px;
  left: -150px;
}
.main .delivery .delevery-img-list .image6 {
  position: relative;
  top: -100px;
  left: -156px;
  z-index: -1;
}

.mobile-menu-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mobile-menu-items .mobile-menu-btn {
  border-radius: 50px;
  padding: 10px 23px;
  height: 45px;
  width: auto;
}
.mobile-menu-items .mobile-menu-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-items .mobile-menu-btn span span {
  margin-left: 10px;
}

.navbar {
  width: 100%;
  background-color: white;
}
.navbar .navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.navbar .menu-list .about {
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-card {
  border-radius: 30px;
  height: 915px;
  background-color: white;
}/*# sourceMappingURL=style.css.map */