<template>
  <div class="home">
    <div class="about" style="margin-top: 20px; height: 915px;">
      <!-- header section -->
      <el-row style="z-index: 1;">
        <el-col :span="12" :xs="12" class="section">
          <h1 class="title">Welcome To <br class="br"> Lucknow <img src="image/img/drooling-face.png" class="emoje"></h1>
        </el-col>
        <el-col :span="6" :xs="6" class="desktop">
          <router-link to="/" class="search-input">
            <img src="image/icons/search.svg" alt="">
          </router-link>
        </el-col>
        <el-col :span="6" :xs="6" class="card-list desktop"> 
          <el-badge is-dot class="item">
            <el-button class="share-button" style="padding: 0;"><img src="image/icons/card.svg" alt=""></el-button>
          </el-badge>
        </el-col>
      </el-row>

      <!-- menu -->
      <el-row style="margin-top: 30px;">
        <el-col :span="18" :xs="24">
          <el-row class="desktop">
            <el-col :span="3" :xs="6" :sm="12" :md="3" :lg="3" class="menu-list">
              <el-button class="menu-btn all active">
                <img src="image/img/grilled-chicken.png" alt="">
                <p>All</p>
              </el-button>
            </el-col>
            <el-col :span="3" :xs="6" :sm="12" :md="3" :lg="3" class="menu-list">
              <el-button class="menu-btn">
                <img src="image/img/cartoon-burger-3d.png" alt="">
                <p>Burger</p>
              </el-button>
            </el-col>
            <el-col :span="3" :xs="6" :sm="12" :md="3" :lg="3" class="menu-list">
              <el-button class="menu-btn">
                <img src="image/img/pizza.png" alt="">
                <p>Pizza</p>
              </el-button>
            </el-col>
            <el-col :span="3" :xs="6" :sm="12" :md="3" :lg="3" class="menu-list">
              <el-button class="menu-btn">
                <img src="image/img/fresh-salad.png" alt="">
                <p>Salads</p>
              </el-button>
            </el-col>
            <el-col :span="3" :xs="6" :sm="12" :md="3" :lg="3" class="menu-list">
              <el-button class="menu-btn">
                <img src="image/img/delicious.png" alt="">
                <p>Donut</p>
              </el-button>
            </el-col>
            <el-col :span="3" :xs="6" :sm="12" :md="3" :lg="3" class="menu-list">
              <el-button class="menu-btn">
                <img src="image/img/drinks.png" style="width: 51px;">
                <p>Drinks</p>
              </el-button>
            </el-col>
          </el-row>
          <div class="mobile">
            <div class="mobile-menu-items">
              <el-button class="mobile-menu-btn active" round>All</el-button>
              <el-button class="mobile-menu-btn" round>Burger</el-button>
              <el-button class="mobile-menu-btn" round>Pizza</el-button>
              <el-button class="mobile-menu-btn" round>Salads</el-button>
              <el-button class="mobile-menu-btn" round>Donut</el-button>
              <el-button class="mobile-menu-btn" round>Drinks</el-button>
            </div>
          </div>
        </el-col>
        <el-col :span="6" :xs="24">
          <div class="rebate-card">
            <div class="rebate-image-list desktop">
              <img src="image/img/cartoon-burger.png" class="cartoon-burger">
              <img src="image/img/bitten-apple.png" class="bitten-apple">
              <img src="image/img/cheese.png" class="cheese">
              <img src="image/img/fire1.png" class="fire1">
              <img src="image/img/orange-3d.png" class="orange-3d">
            </div>
            <div class="card-info">
              <h4 class="title">-50% Off</h4>
              <p class="text">the full price of burgers</p>
            </div>
          </div>
        </el-col>
      </el-row>

      <!-- All  items -->
      <el-row style="margin-top: 45px;">
        <el-col :span="18" :xs="24">
          <div class="all-items-text">
            <h4 class="title">All Items</h4>
            <router-link to="/">
              <img src="image/icons/filter.svg" alt="">
            </router-link>
          </div>
          <el-row style="margin-top: 80px;" class="desktop">
            <el-col :span="6" :xs="24" class="products-card">
              <div class="products">
                <img src="image/img/burger1.png" class="burger-img">
                <img src="image/img/fire1.png" class="fire-img">
                <div class="product-info">
                  <h4 class="title">Burger Wanted</h4>
                  <p class="text">Rels, Zoodies, Garnein <br> Sesasam Dessigns, <br> Redeshchein, Avocade</p>
                  <p class="price"><b>29$</b></p>
                  <el-button class="plus-btn" icon="el-icon-plus" circle></el-button>
                </div>
              </div>
            </el-col>
            <el-col :span="6" :xs="24" class="products-card product-check-card">
              <div class="products">
                <img src="image/img/butter1.png" class="butter-img">
                <img src="image/img/fire2.png" class="good-img">
                <div class="product-info">
                  <h4 class="title">Butter Chciken</h4>
                  <p class="text">Reis, Sous-vide Chicken, <br>Penaut Satay, Babyspian</p>
                  <p class="price"><b>56$</b></p>
                  <el-button class="check-btn" icon="el-icon-check" circle></el-button>
                </div>
              </div>
            </el-col>
            <el-col :span="6" :xs="24" class="products-card">
              <div class="products">
                <img src="image/img/plov.png" class="plov-img">
                <div class="product-info">
                  <h4 class="title">Hi, Salmon</h4>
                  <p class="text">Rels, Zoodies, Garnein <br>Dressings, Avacode <br>Edanmame, Maris.</p>
                  <p class="price"><b>69$</b></p>
                  <el-button class="plus-btn" icon="el-icon-plus" circle></el-button>
                </div>
              </div>
            </el-col>
          </el-row>
          <el-row class="mobile">
            <el-carousel indicator-position="outside">
              <el-carousel-item>
                <div class="mobile-products">
                  <img src="image/img/burger1.png" class="carousel-img">
                  <div class="mobile-product-info">
                    <h4 class="title">Burger Wanted</h4>
                    <p class="text">Rels, Zoodies, Garnein <br class="desktop"> Sesasam Dessigns, <br> Redeshchein, Avocade</p>
                    <p class="price"><b>29$</b></p>
                    <el-button class="plus-btn" icon="el-icon-plus" circle></el-button>
                  </div>
                </div>
              </el-carousel-item>
              <el-carousel-item>
                <div class="mobile-products">
                  <img src="image/img/butter1.png" class="carousel-img">
                  <div class="mobile-product-info">
                    <h4 class="title">Butter Chciken</h4>
                    <p class="text">Reis, Sous-vide Chicken, <br>Penaut Satay, Babyspian</p>
                    <p class="price"><b>56$</b></p>
                    <el-button class="check-btn" icon="el-icon-check" circle></el-button>
                  </div>
                </div>
              </el-carousel-item>
              <el-carousel-item>
                <div class="mobile-products">
                  <img src="image/img/plov.png" class="carousel-img">
                  <div class="mobile-product-info">
                    <h4 class="title">Hi, Salmon</h4>
                    <p class="text">Rels, Zoodies, Garnein <br class="desktop">Dressings, Avacode <br>Edanmame, Maris.</p>
                    <p class="price"><b>69$</b></p>
                    <el-button class="plus-btn" icon="el-icon-plus" circle></el-button>
                  </div>
                </div>
              </el-carousel-item>
            </el-carousel>
          </el-row>
          <el-row style="margin-top: 140px;" class="desktop">
            <el-col :span="6" class="products-card products-two product-clip-path">
              <div class="products">
                <img src="image/img/soup.png" class="plov-img" style="z-index: 2;">
              </div>
            </el-col>
            <el-col :span="6" class="products-card product-clip-path">
              <div class="products">
                <img src="image/img/plov-2.png" class="plov-img">
              </div>
            </el-col>
            <el-col :span="6" class="products-card products-two product-clip-path">
              <div class="products">
                <img src="image/img/butter-chicken.png" class="plov-img" style="z-index: 2;">
              </div>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="6" :xs="24">
          <div class="articles">
            <div class="article-items-text">
              <h4 class="title">Articles</h4>
              <el-button class="articles-btn">
                <img src="image/icons/right-arrow.svg" alt="">
              </el-button>
            </div>
            <div class="comments">
              <div class="comments-list">
                <div class="comments-img chicken-img">
                  <img src="image/img/chicken1.svg" alt="">
                </div>
                <div class="person-thought">
                  <h4 class="title">How to cook turkey <br>on Natural Gas </h4>
                  <div class="person-img">
                    <img src="image/img/ann-img.png" class="ann-img">
                    <img src="image/img/tom-img.png" class="tom-img">
                    <div class="thought-count">
                      <img src="image/img/kisspng.svg" alt="">
                      <span class="count">28+</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comments-list">
                <div class="comments-img emoje-img">
                  <img src="image/img/emoje2.svg" alt="">
                </div>
                <div class="person-thought">
                  <h4 class="title">Corona virus update: <br>3,43,287+ cases</h4>
                  <div class="person-img">
                    <img src="image/img/ann-img.png" class="ann-img">
                    <img src="image/img/mary-overlay.png" class="tom-img">
                    <div class="thought-count">
                      <img src="image/img/kisspng.svg" alt="">
                      <span class="count">28+</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comments-list">
                <div class="comments-img chocolate-img">
                  <img src="image/img/chocolate.svg" alt="">
                </div>
                <div class="person-thought">
                  <h4 class="title">Corona virus update: <br>3,43,287+ cases</h4>
                  <div class="person-img">
                    <img src="image/img/ann-img.png" class="ann-img">
                    <img src="image/img/mary-overlay.png" class="tom-img">
                    <div class="thought-count">
                      <img src="image/img/kisspng.svg" alt="">
                      <span class="count">28+</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comments-list">
                <div class="comments-img pizza-img">
                  <img src="image/img/favorite-pizza.svg" alt="">
                </div>
                <div class="person-thought">
                  <h4 class="title">Tasty chunk donutes <br> with chocolate</h4>
                  <div class="person-img">
                    <img src="image/img/ann-img.png" class="ann-img">
                    <img src="image/img/mary-overlay.png" class="tom-img">
                    <div class="thought-count">
                      <img src="image/img/kisspng.svg" alt="">
                      <span class="count">28+</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
}
</script>

<style>
.articles {
  width: 259px;
  margin-left: 20px;
}
</style>