<template>
  <div class="navbar">
    <el-row class="navbar-items">
      <el-col :span="6">
        <h2>Yelp App</h2>
      </el-col>
      <el-col :span="18" class="menu-list">
        <el-row class="about" style="padding: 0;">
          <el-col :span="5">
            <router-link to="/" class="search-input">
              <img src="image/icons/search.svg" alt="">
            </router-link>
          </el-col>
          <el-col :span="5" class="card-list"> 
            <el-badge is-dot class="item">
              <el-button class="share-button" style="padding: 0;"><img src="image/icons/card.svg" alt=""></el-button>
            </el-badge>
          </el-col>
          <el-col :span="5">
            <el-button @click="drawer = true" circle style="margin-left: 16px; border: none;">
              <img src="image/icons/hamburger.svg" alt="">
            </el-button>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <div>
      <el-drawer
        title="I am the title"
        :visible.sync="drawer"
        :with-header="false"
        size="60%"
        style="z-index: 3;"
        class="main">
        <h3 style="padding:10px 20px 0;">Yelp App</h3>
        <el-menu
          default-active="1"
          class="el-menu-vertical-demo "
          @open="handleOpen"
          @close="handleClose"
        >
          <el-menu-item index="1" style="padding-left: 0;">
            <el-menu-item class="menu-icon" style="padding-left: 0;">
              <img src="image/icons/home.svg" class="menu-img" />
              <span class="menu-name">Home</span>
            </el-menu-item>
          </el-menu-item>
          <el-menu-item index="2" style="padding-left: 0;">
            <el-menu-item class="menu-icon" style="padding-left: 0;">
              <img src="image/icons/menu.svg" class="menu-img" />
              <span class="menu-name">Menu</span>
            </el-menu-item>
          </el-menu-item>
          <el-menu-item index="3" style="padding-left: 0;">
            <el-menu-item class="menu-icon" style="padding-left: 0;">
              <img src="image/icons/fire.svg" class="menu-img" />
              <span class="menu-name">Trending</span>
            </el-menu-item>
          </el-menu-item>
          <el-menu-item index="4" style="padding-left: 0;">
            <el-menu-item class="menu-icon" style="padding-left: 0;">
              <img src="image/icons/setting.svg" class="menu-img" />
              <span class="menu-name">Settings</span>
            </el-menu-item>
          </el-menu-item>
        </el-menu>
      </el-drawer>
    </div>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'navbar',
  data() {
    return {
      drawer: false,
    };
  },
}
</script>

<style>

</style>