<template>
  <div>
    <div style="width: 100%; text-align: center; margin-top: 50px">
      <div style="width: 100%; display: flex; justify-content: center">
        <div class="person-image">
          <img src="image/img/pexels-andrea.png" alt="" />
        </div>
      </div>
      <h4>Alka Yagik</h4>
    </div>
    <el-menu
      default-active="1"
      class="el-menu-vertical-demo desktop"
      @open="handleOpen"
      @close="handleClose"
    >
      <el-menu-item index="1" style="padding-left: 0;">
        <el-menu-item class="menu-icon" style="padding-left: 0;">
          <img src="image/icons/home.svg" class="menu-img" />
          <span class="menu-name">Home</span>
        </el-menu-item>
      </el-menu-item>
      <el-menu-item index="2" style="padding-left: 0;">
        <el-menu-item class="menu-icon" style="padding-left: 0;">
          <img src="image/icons/menu.svg" class="menu-img" />
          <span class="menu-name">Menu</span>
        </el-menu-item>
      </el-menu-item>
      <el-menu-item index="3" style="padding-left: 0;">
        <el-menu-item class="menu-icon" style="padding-left: 0;">
          <img src="image/icons/fire.svg" class="menu-img" />
          <span class="menu-name">Trending</span>
        </el-menu-item>
      </el-menu-item>
      <el-menu-item index="4" style="padding-left: 0;">
        <el-menu-item class="menu-icon" style="padding-left: 0;">
          <img src="image/icons/setting.svg" class="menu-img" />
          <span class="menu-name">Settings</span>
        </el-menu-item>
      </el-menu-item>
    </el-menu>
    <div class="delivery">
      <img
        class="image delivery-image"
        src="image/img/delivery-man.png"
        alt=""
      />
      <div class="delevery-img-list">
        <img class="image1" src="image/img/Ellipse1.png" alt="" />
        <img class="image2" src="image/img/Ellipse2.png" alt="" />
        <img class="image3" src="image/img/Ellipse3.png" alt="" />
        <img class="image4" src="image/img/Ellipse4.png" alt="" />
        <img class="image5" src="image/img/Ellipse5.png" alt="" />
        <img class="image6" src="image/img/Ellipse6.png" alt="" />
      </div>
      <div class="delivery-items">
        <h4 class="title">Faster <br />delivery!</h4>
        <router-link to="/" class="link">
          <div class="more-link">
            <span>Know More</span>
            <img src="image/icons/right-arrow.svg" class="img" />
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Sidebar",
  data() {
    return {
      isCollapse: true
    };
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>

<style >
.menu-icon {
  background-color: white;
  width: 46px !important;
  height: 44px !important;
  border-radius: 15px;
  padding: 0;
}
.menu-img {
  position: absolute;
    transform: translate(14px, 12px);
}
</style>
