<template>
  <div id="app" style="height: 100%;">
    <el-row>
      <el-col :span="4" style="border-radius: 30px;" class="main">
        <sidebar class="desktop" />
      </el-col>
      <el-col :span="20" :xs="24">
        <Navbar class="mobile" />
        <div class="main main-card">
          <router-view />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<style lang="scss">

</style>
<script>
import Navbar from './components/navbar'
import sidebar from './components/sidebar.vue'
  export default {
  components: {
    Navbar, sidebar },
    
  }
</script>